<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Django Web Programming{% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base1.css" %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

<style>

</style>
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand easysLogo">1조 블로그</a>
        </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">

            <li><a href="{% url 'home' %}">홈</a></li>

            <li class="dropdown">
                <a href="{% url 'blog:index' %}" class="dropdown-toggle" data-toggle="dropdown">블로그 <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'blog:index' %}">블로그홈</a></li>
                <li><a href="{% url 'blog:add' %}">추가</a></li>
                <li><a href="{% url 'blog:change' %}">변경</a></li>
              </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">사진<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'photo:index' %}">사진 홈</a></li>
                    <li><a href="{% url 'photo:photo_add' %}">사진추가</a></li>
                    <li><a href="{% url 'photo:photo_change' %}">사진변경</a></li>
                    <li><a href="{% url 'photo:album_add' %}">앨범추가</a></li>
                    <li><a href="{% url 'photo:album_change' %}">앨범변경</a></li>
                  </ul>
            </li>

            <li><a href="{% url 'polls:index' %}" >설문</a></li>

            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">북마크<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'bookmark:index' %}">북마크 홈</a></li>
                <li><a href="{% url 'bookmark:add' %}">추가</a></li>
                <li><a href="{% url 'bookmark:change' %}">변경</a></li>
              </ul>
            </li>

            <li><a href="{% url 'blog:post_archive' %}">Archive</a></li>
            <li><a href="{% url 'blog:search' %}">검색</a></li>
            <li><a href="{% url 'admin:index' %}">관리자</a></li>

            <ul class="nav nav-bar navbar-right">
                {% if user.is_active %}
                <h4 class="welcome">환영합니다.
                            <strong>{% firstof user.get_short_name user.get_username %}</strong> /
                            <a href="{% url 'password_change' %}">비밀번호 변경</a> /
                            <a href="{% url 'logout' %}">로그아웃</a>
                </h4>
                {% else %}
                <h4 class="welcome">어서오세요, 여러분 /
                            <a href="{% url 'login' %}">로그인</a> /
                            <a href="{% url 'register' %}">가입</a>
                </h4>
                {% endif %}
            </ul>
        </ul>

    </div>
</nav>
</div>

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>
